.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

@media(max-width: $mobile-width) {
  .catalog__list {
    align-items: center;
    flex-direction: column;
  }  
}