.promo__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  font-size: 54px;
  font-weight: 700;
}

@media(max-width: $tablet-width) {
  .promo__title {
    font-size: 50px;
  }
}

@media(max-width: $mobile-width) {
  .promo__title {
    font-size: 36px;
  }
}