.about-us {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box;
    padding: 0 calc(50vw - 580px);
    margin-bottom: 132px;
    &__promo {
      width:512px;
    }
    &__title {
      margin: 0;
      padding: 0;
      margin-bottom: 40px;
      font-size: 28px;
      font-weight: 600;
    }
    &__description {
      margin: 0;
      padding: 0;
    }
}

@media (max-width: 1024px) {
  .about-us {
    padding: 0 calc(50vw - 339px);
    img {
      width: 324px;
      height: 264px;
      object-fit: cover;
    }
    &__promo {
      width: 324px;
    }
  }
}

@media (max-width: 767px) {
  .about-us {
    padding: 0 calc(50vw - 145px);
    margin-bottom: 65px;
    display: block;
    img {
      width: 290px;
      height: 186px;
    }
    &__promo {
      max-width: 290px;
      margin-bottom: 35px;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
}