.about-us {
  box-sizing: border-box;
  padding: 0 103px;
  margin-bottom: 132px;

  display: flex;
  justify-content: space-between;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.about-us__promo {
  width: 512px;
  margin-right: 75px;
  padding-top: 59px;
}

.about-us__title {
  margin: 0;
  padding: 0;

  margin-bottom: 27px;
  font-size: 28px;
  font-weight: 600;
}

.about-us__description {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

@media (min-width: $desktop-max-width) {
  .about-us {
    width: 1366px;
    margin: 0 auto;
    padding-left: 103px;
    padding-right: 103px;
    margin-bottom: 120px;
  }
}

@media (max-width: $tablet-width) {
  .about-us {
    padding: 0 45px;
    margin-bottom: 98px;

    img {
      width: 324px;
      height: 264px;
      object-fit: cover;
    }
  }

  .about-us__promo {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    max-width: 324px;
    letter-spacing: -1px;
  }

  .about-us__title {
    margin: 0;
    max-width: 230px;
    margin-bottom: 19px;
  }

  .about-us__description {
    line-height: 1.7;
    letter-spacing: 1.25px;
  }
}

@media (max-width: $mobile-width) {
  .about-us {
    margin: 0;
    padding: 0 15px 65px 15px;
    flex-direction: column;

    img {
      object-fit: contain;
    }
  }

  .about-us__promo {
    margin: 0;
    width: auto;
    min-width: 290px;
    letter-spacing: none;
  }

  .about-us__title {
    margin: 0;
    font-size: 24px;
    max-width: 190px;
    margin-bottom: 28px;
  }
}
