.btn {
    border: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    color: #011C40;
    background-color: #F9FBFD;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
}