.catalog {
  box-sizing: border-box;
  padding: 115px 103px 125px 103px;
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.catalog__item {
  max-width: 260px;
  min-height: 386px;
  position: relative;

  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;

  img {
    width: 100%;
    height: 386px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, $secondary-color 100%);
  }

  &:hover .details {
    visibility: visible;
    opacity: 1;
  }
}

.catalog__name {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 335px;
  left: 35px;
  color: $primary-color;
  z-index: 10;
}

.details {
  box-sizing: border-box;
  margin: 0;
  padding: 35px 24px 31px 25px;

  width: 100%;
  min-height: 386px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  list-style: none;

  background-color: $secondary-color;
  color: $primary-color;

  display: flex;
  flex-direction: column;

  font-size: 18px;

  visibility: hidden;
  opacity: 0;

  transition: all 0.5s;
}

.details__item {
  font-size: 14px;

  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
    margin-top: auto;
  }

  .details-btn {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.details__name {
  margin-bottom: 17px;
}

.details__title {
  margin: 0;
  padding: 0;
}

.details__description {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

@media (max-width: $tablet-width) {
  .catalog {
    padding: 95px 60px 55px 60px;
  }

  .catalog__title {
    font-size: 26px;
    margin-bottom: 33px;
  }

  .catalog__item {
    min-width: 309px;
    margin-bottom: 30px;
  }

  .details {
    padding: 35px;
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    padding: 30px 25px 3px 25px;
  }

  .catalog__title {
    font-size: 24px;
  }

  .catalog__list {
    align-items: center;
    flex-direction: column;
  }

  .catalog__item {
    min-width: 260px;
  }

  .details {
    padding: 28px 25px 39px 26px;
  }

  .details__description {
    line-height: 1.5;
  }
}

@media (min-width: $desktop-max-width) {
  .catalog {
    padding: 0 calc(50vw - 580px);
    padding-top: 115px;
    padding-bottom: 125px;
  }
}
