.info {
    padding: 120px 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .map {
      width: auto;
      min-width: 560px;
      height: 306px;
      position: relative;
      margin-right: 95px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::before {
        position: absolute;
        top: 214px;
        left: 252px;
        content: "";
        width: 18px;
        height: 22px;
        background-image: url("../img/icon-pointer.svg");
        background-repeat: no-repeat;
      }
    }

    .contacts {
      width: 500px;

      &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 500;
      
      }
      &__info {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        padding-left: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 25px;
      }
      .address::before {
        position: absolute;
        content: "";
        left: 0;
        top: 3.5px;
        width: 18px;
        height: 22px;
        background-image: url("../img/icon-pointer.svg");
        background-repeat: no-repeat;
      }
      .phone::before {
        position: absolute;
        content: "";
        top: 5.5px;
        left: 0;
        width: 18px;
        height: 18px;
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
      }
    }
}

@media(max-width: 1023px) {
  .info {
    padding: 100px 45px;
    .map {
      min-width: 324px;
      &::before {
        top: 0;
        left: 0;
      }
    }
    .contacts {
      width: 324px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
@media(min-width: 1367px) {
  .info {
    padding: 0 calc(50vw - 580px);
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media(max-width: 767px) {
  .info {
    padding: 60px 15px;
    flex-direction: column;
    align-items: initial;

    .map {
      margin: 0;
      min-width: 290px;
    }
    .contacts {
      width: auto;
      min-width: 290px;
      order: -1;
      &__title {
        min-width: 290px;
      }
    }
  }
}