.page-header {
    box-sizing: border-box;
    padding: 35px 103px 0px 103px;
    margin-bottom: 108px;

    min-height: 650px;
    min-width: 320px;

    background-image: url("../img/main-bg-desktop.jpg");
    background-size: cover;
  
    color: #fff;
    
    
    .main-nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 210px;
      box-sizing: border-box;
      &__toggle {
        position: absolute;
        width: 24px;
        height: 14px;
        background: transparent;
        top: 20px;
        right: 15px;
        border: 0;
        visibility: hidden;
        opacity: 0;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 24px;
          height: 14px;
        }
      }
    }
    .main-nav--closed .main-nav__toggle::before {
      background: url("../../img/icon-burger.svg");
    }
    .main-nav--opened .main-nav__toggle::before {
      background: url("../../img/icon-close.svg") no-repeat center;
    }
    .promo {
      margin-left: 95px;
      &__title {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

        font-size: 54px;
        font-weight: 700;
      }
      &__description {
        margin: 0;
        padding: 0;
  
        font-size: 20px;
      }
    }
}
@media (max-width: 1024px) {
  .page-header {
    padding: 35px 60px 0px 60px;
    margin-bottom: 100px;

    background-image: url("../../img/main-bg-tablet.jpg");
    .main-nav {
      .logo {
        img {
          width: 38px;
          height: 20px;
        }
      }
    }
    .promo {
      margin: 0;
    }
  }
}
@media(min-width: 1367px) {
  .page-header {
    padding: 0 calc(50vw - 580px);
    padding-top: 35px;
  }
}
@media(max-width: 767px) {
  .page-header {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main-nav {
      margin: 0;
      padding: 20px 15px 0px 15px;

      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      &__toggle {
        visibility: visible;
        opacity: 1;
      }
      &--closed,
      &--opened {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 299px;
      }
      &--closed .site-navigation-item {
        display: none;
      }
      &--opened {
        background-color: #F9FBFD;
      }
      &--opened .site-navigation-item {
        display: block;
        a {
          color: #011C40;
        }
      }
      &--nojs {
        position: static;
        background-color: #F9FBFD;
      }
      &--nojs .site-navigation-item{
        display: block;
      }
      &--nojs .main-nav__toggle {
        display: none;
      }
    }
    .logo {
      margin-bottom: 30px;
      svg {
        path {
          fill: #011C40;
        }
      }
    }
    .promo {
      &__title {
        font-size: 36px;
      }
    }
  }

  
}
