.reservation {
  box-sizing: border-box;
  padding: 50px 163px;
  background-image: url("../../img/form-bg-desktop@1x.jpg");
  background-color: #b0d8fa;
  background-size: cover;
  min-height: 555px;
  min-width: 320px;
  display: flex;
  flex-wrap: nowrap;
  font-size: 18px;
  color: $primary-color;
}

.reservation__promo {
  margin-right: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $secondary-color;
}

.reservation__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.reservation__description {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.form {
  max-width: 403px;
  min-height: 455px;
  background-color: $secondary-color;
  box-sizing: border-box;
  padding: 45px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.reservation__text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  margin-bottom: 25px;
  line-height: 1.5;
}

.form__group {
  margin-bottom: 18px;
}

.form input {
  width: 100%;
  border: 0;
  background-color: $primary-color;
  box-sizing: border-box;
  padding: 15px;
  color: $secondary-color;
}

.form input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: $secondary-color;
}

.checkbox {
  font-size: 10px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.checkbox__text {
  position: relative;
  box-sizing: border-box;
  padding-left: 23px;
  min-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 0;
    background-color: $primary-color;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 0;
    background: url("../../img/icon-check.svg") no-repeat center;
  }
}

.checkbox__input:checked + .checkbox__text::after {
  display: block;
}

.reservation-btn {
  min-height: 43px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  background-image: url("../../img/form-bg-desktop@2x.jpg");
}

@media (max-width: $tablet-width) {
  .reservation {
    padding: 95px 45px;
    padding-bottom: 75px;
    flex-direction: column;
    align-items: center;
    min-height: 805px;
  }

  .reservation__promo {
    margin: 0;
    padding: 0;
    align-items: center;
    margin-bottom: 50px;
  }

  .reservation__title {
    margin-bottom: 8px;
    font-size: 34px;
  }

  .reservation__description {
    text-align: center;
  }
}

@media (max-width: $tablet-width) and (min-resolution: $retina-dpi),
  (max-width: $tablet-width) and (min-resolution: $retina-dppx) {
  background-image: url("../../img/form-bg-tablet@2x.jpg");
}

@media (max-width: $mobile-width) {
  .reservation {
    padding: 60px 15px;
    align-items: initial;
    min-height: 760px;
  }

  .reservation__promo {
    margin-bottom: 30px;
  }

  .reservation__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .reservation__description {
    text-align: center;
    font-size: 16px;
  }

  .form {
    max-width: 100%;
    padding: 30px;
    padding-bottom: 35px;
  }
}

@media (max-width: $mobile-width) and (min-resolution: $retina-dpi),
  (max-width: $mobile-width) and (min-resolution: $retina-dppx) {
  background-image: url("../../img/form-bg-mobile@2x.jpg");
}

@media (min-width: $desktop-max-width) {
  .reservation {
    padding: 0 calc(50vw - 580px);
    padding-top: 50px;
    padding-bottom: 50px;
  }
}