.site-navigation {
  margin: 0;
  padding: 0;

  min-width: 595px;

  display: flex;
  justify-content: space-between;

  list-style: none;

  font-weight: 500;

  &-item {
    a {
      text-decoration: none;
      color: #f9fbfd;
    }
  }
}

@media (max-width: 1024px) {
  .site-navigation {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .site-navigation {
    max-width: 290px;
    flex-direction: column;
    &-item {
      margin-bottom: 25px;
    }
  }
}
