.site-navigation {
  margin: 0;
  padding: 0;

  width: 594px;

  display: flex;
  justify-content: space-between;

  list-style: none;

  font-weight: 500;
}
.site-navigation-item {
  a {
    text-decoration: none;
    color: $primary-color;
  }
}

@media (max-width: $tablet-width) {
  .site-navigation {
    max-width: 504px;
  }
}
@media (max-width: $mobile-width) {
  .site-navigation {
    max-width: 290px;
    flex-direction: column;
  }
  .site-navigation-item {
    margin-bottom: 25px;
  }
}
